annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.1.8
colorama==0.4.6
contourpy==1.3.0
cpylog==1.5.0
cycler==0.12.1
docopt-ng==0.9.0
exceptiongroup==1.3.1
fastapi==0.128.8
fonttools==4.60.2
h11==0.16.0
h5py==3.14.0
idna==3.13
importlib_resources==6.5.2
kiwisolver==1.4.7
markdown-it-py==3.0.0
matplotlib==3.9.4
mdurl==0.1.2
meshio==5.3.5
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==9.4.0
mysqlclient==2.2.7
numpy==1.26.4
packaging==26.1
pillow==11.3.0
pydantic==2.13.3
pydantic_core==2.46.3
Pygments==2.20.0
pyNastran==1.4.1
ansys-mapdl-reader==0.56.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
requests==2.32.5
rich==15.0.0
scipy==1.13.1
six==1.17.0
starlette==0.49.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.39.0
zipp==3.23.1
